@model Login
<form asp-action="Login" asp-controller="Home" method="post">
    <div class="w-50 box center-box">
        <h1 class="text-center">Login</h1>
        <div class="form-field flex">
            <div class="w-25">
                <label asp-for="Email">Email</label>
            </div>
            <div class="flex-1">
                <input asp-for="Email" type="email" placeholder="Enter EmailId" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
                <label asp-for="password">Password</label>
            </div>
            <div class="flex-1">
                <input asp-for="password" type="password" placeholder="Enter Password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-field flex">
            <div class="w-25">
            </div>
            <div class="flex-1">
                <button class="button button-green-back">Submit</button>
            </div>
        </div>
    </div>
</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}